.content img{
    height: 110px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    
    } 
    
    .pictures img{
        height: 110px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 6%;
        
    }