.Basket img{
    height:100px;
    width:auto;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.Basket p{
    height:100px;
    width:auto;
    color: white;
    text-align: center;
}

.basket{
    color: gray;
}