.firstcolum img{
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.secondcolum img{
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}