.FirstRow img{
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
} 
      
 .SecondRow img{
        height: 200px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        
    }