.Tops img{
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
} 
      
.Sportswear img{
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
        
}