.App{
  background-color: navy;
  height: 700px;
  width: auto;
 
    }

    .logo img{
      height: auto;
      width: 75px;
    }  

   .logo input{
      height: auto;
      width: 850px;
      align-items: center;
    }
  
    .Topnav{
  color: white;
  text-align: center;
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  }

    .Topnav a{
      color: white;
      height: auto;
      width: 148px;
      margin-left: auto;
      margin-right: auto;
      font-size: normal ;
      align-items: center;
    }
    